<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
  <appender name="AzureEventHubAppender" type="BlueSkyDev.Logging.AzureEventHubAppender, BlueSkyDev.Logging.AzureEventHubAppender">
    <param name="ConnectionString" value="Endpoint=sb://sqll1eventhubnamespace.servicebus.windows.net/;SharedAccessKeyName=batchbuilder;SharedAccessKey=jPmHg4yCgcD1RX2e/vqxFkB1QwP1/30bnbjsGQRXd8c=;EntityPath=sqll1eventhub" />
    <param name="BufferSize" value="400" />
    <param name="BatchSize" value="20" />
    <param name="LogAsJson" value="true" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="date=%utcdate|Thread=%thread|Message=%message|Level=%level|Logger=%logger|Custom=%property{CustomColumn}|Custom2=%property{CustomColumn1}" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message Custom=%property{CustomColumn} %newline " />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="AzureEventHubAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>